html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

/* Cover makes the background collapse at smaller sizes */
body {
   background-image: url("wallpaper.jpg");
   background-size: cover;
   background-attachment: fixed;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   overflow-x: hidden;
   font-family: "URW Bookman", "Palatino Linotype", serif;
   line-height: 1.4;
   font-size: 14pt;
   color: white;
}

div.header, div.container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

/* Shared CSS info for headers and footers. Note that these try and
   estimate widths in order to help "pin" the container ratio to the
   background ratio, and then switch at specific points. */
/* Largest screen, with borders at screen edges */
@media screen and (min-width: 630px) {
   div.header, div.container {
      max-width: 62.5%;
      min-width: 630px;
   }
}

   
/* Page header is followed by a page container, so that the header
   parts don't have to fuss with the flow of the others. Note that you
   can't give this a low z-order if you want clickable input fields! */
div.header { 
   width: 100%;
   height: 60px;
   margin-bottom: 16px;
   padding: 0px 0px 20px 0px;
}   

input.login {
   display: block;
   position: relative;
   border: none;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   height: 30px;
   color: black;
   background-color: #cccccc;
   z-index: 3;
   font-size: 16pt;
}

input.login#username {
   margin-left: 8px;
   margin-right: 8px;
   padding-left: 10px;
   border: 0px solid;
   border-radius: 0.5em;
   width: 90%;
}

input.login#password {
   margin-top: 13px;
   margin-bottom: 10px;
   margin-left: 8px;
   margin-right: 8px;
   padding-left: 10px;
   border: 0px solid;
   border-radius: 0.5em;
   width: 90%;
}

button#loginSubmit {
   height: 90%;
   width: 90%;
   margin-right: 8px;
   background-color: #cccccc;
   color: black;
   border: 0px solid;
   border-radius: 0.5em;
   font-size: 14pt;
}

form {
   display: inline;
   width: 90%;
   margin: auto 0 auto 0;
   padding: 0 0 0 0;
}

input#searchSubmit {
   width: 30px;
   height: 30px;
   background-image: url("./search.png");
   border: solid 0px #000000; 
   cursor: pointer;
   z-index: 1;
}

input#searchEntry {
   width: 139px;
   z-index: 2;
}

div.logo {
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   text-align: center;
}

img.logo {
   width: 630px;
   min-width: 59.3%;
   max-width: 100%;
}

/* Page container is centered with the background image */
div.container {
   margin-bottom: 0px;
}

div.card {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   overflow-y: hidden;
   border: solid 3px #444444;
   border-radius: 0.5em;
}

div.card.fresh.odd {
   background-image: -webkit-radial-gradient(circle, rgba(40, 40, 70, 0.38) 0px, rgba(40, 70, 240, 0.38) 700px);
   background-image: -moz-radial-gradient(circle, rgba(40, 40, 70, 0.38) 0px, rgba(40, 70, 240, 0.38) 700px);
   background-image: radial-gradient(circle, rgba(40, 40, 70, 0.38) 0px, rgba(40, 70, 240, 0.38) 700px);
}

div.card.fresh.even {
   background-image: -webkit-radial-gradient(circle, rgba(40, 40, 70, 0.48) 0px, rgba(40, 70, 240, 0.48) 700px);
   background-image: -moz-radial-gradient(circle, rgba(40, 40, 70, 0.48) 0px, rgba(40, 70, 240, 0.48) 700px);
   background-image: radial-gradient(circle, rgba(40, 40, 70, 0.48) 0px, rgba(40, 70, 240, 0.48) 700px);
}

div.card.rolldown {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   overflow-y: hidden;
   border-left: solid 3px #444444;
   border-right: solid 3px #444444;
   border-bottom: solid 3px #444444;
   border-radius: 0px 0px 0.5em 0.5em;
}

div.card.store, div.card.heading { 
   background-color: rgba(50, 60, 120, 0.78);
   padding: 0px 20px 0px 20px;
}

div.card.quotes {
   background-color: rgba(50, 60, 120, 0.78);
   padding: 0px 20px 0px 20px
}

div.card.error {
   background-color: rgba(150, 30, 80, 0.78);
   padding: 0px 20px 0px 20px
}

div.card.news {
   background-color: rgba(40, 50, 150, 0.78);
   padding: 10px 20px 10px 20px;
}

div.card.topics {
   background-color: rgba(50, 60, 120, 0.78);
   padding: 10px 20px 10px 20px;
}

div.card.features { 
   background-color: rgba(50, 60, 120, 0.78);
   padding: 10px 20px 10px 20px;
}

div.card.login {
   padding-top: 10px;
   font-size: 1.3em;
   margin-bottom: 0px;
   padding-bottom: 2px;
}

div.card p, div.card a, div.card h2, div.card h3, div.card h5 {
   color: white;
   text-align: justify;
   text-justify: auto; 
   text-justify-last: none;
}

div.cardTitle, div.cardFooter {
   display: table;
   text-align: left;
   text-justify: none;
   width: 100%;
}

div.cardTitle h2 {
   float: left;
   margin: 0 0 0 0;
   padding-right: 4px;
}

div.cardTitle h2 a {
   text-decoration: none;
}

div.cardTitle p.subject {
   float: right;
   margin: 0 0 0 0;
}

/* For small screensizes, ensure good left-padding so that paragraph
   text doesn't start merging into the subjects */
div.cardTitle p.subject {
   margin: 0 0 0 0;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 8px;
   text-align: right;
}

img.InlineNewsLeft {
   float: left;
   margin-right: 1.5em;
   margin-top: 2.2ex;
}

img.InlineNewsRight {
   float: right;
   margin-left: 1.5em;
   margin-top: 2.2ex;
}

img.InlineNewsCenterFocus {
   position: relative;
   display: block;
   width: 100%;
   border-color: #AAAAAA;
   margin-top: 10px;
   margin-bottom: 10px;
}

img.InlineNewsCenter {
   margin-top: 10px;
   margin-bottom: 10px;
   display: block;
   text-align: center;
} 

div.youtube-16x9 {
   position: relative;
   display: block;
   padding-top: 25px;
   padding-bottom: 53%;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   height: 0;
}

div.youtube-16x9 iframe {
   position: absolute;
   top: 0px;
   width: 100%;
   height: 100%;
}

/* For news-image captions */
h5 {
   margin-top: 0px;
   padding-top: 0px;
}

div.cardFooter div.bottom {
   display: table;
   width: 100%;
}

div.bottom p.cardNav {
   display: table-cell;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   font-weight: bold;
   padding-top: 9px;
   width: 25%;
   text-align: left;
}

p.cardNav a {
   text-decoration: none;
}

div.bottom p.postDate {
   display: table-cell;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   color: #cccccc;
   padding-top: 9px;
   font-size: 9pt;
   width: 25%;
   font-weight: bold;
   text-align: right;
}

a.expand {
   font-style: italic;
}

div.cardFooter {
   margin-top: 1ex;
}

/* Special heading cards that allow pagination */
/* If zero-height and display: block, I can calculate its relative position
   in the document with offsetHeight :) */
div#scrollstone, div#old_scrollstone {
   background-color: rgba(50, 60, 120, 0.78);
   display: block;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   height: 0px;
}

div#tombstone, div#old_tombstone, div#search_waiting {
   background-color: rgba(50, 60, 120, 0.78);
   font-weight: bold;
   text-justify: none;
}

div#tombstone p#state, div#old_tombstone p#state {
   display: none;
}

div.card.heading a#nextPage {
   display: block;
   text-decoration: none;
   text-align: center;
   font-weight: bold;
}

div.card.heading p#loadButton, div.card.heading p#inProgress {
   text-decoration: none;
   text-align: center;
   text-justify: none;
   font-weight: bold;
}

div.card.heading p#inProgress {
   display: none;
}

div.card.image {
   background-color: rgba(50, 60, 120, 0.78);
   padding: 5px 20px 5px 20px;
   text-align: center;
   color: black;
}

div.card.image h2, div.card.image p, div.card.image a {
   color: black;
}


/* Do not adjust the widths of the cells inside the table.
   All should be the same fixed length and spacing. Also, 
   all cells in this div should be center-aligned. */
div.card.song {
   background-color: rgba(50, 60, 120, 0.78);
   padding: 5px 20px 5px 20px;
   text-align: center;
} 

div.card.song p, div.card.song a {
   color: white;
}

div.card.image img {
   margin-top: 2.5%;
   margin-bottom: 2.5%;
   width: 95%;
}

div.card.song p {
   margin: 0 0 0 0;
   padding: 0 0 2px 0;
   text-align: center;
}

/* Arrange cells so that if width shrinks, the cells overflow into
   the next row. Also, align cells with a middle-line. */
div.cell {
   display: inline-block;
   text-align: center;
   width: 32.4%;
   max-width: 280px;
   min-width: 140px;
   vertical-align: middle;
   margin-top: 3px;
   margin-bottom: 3px;
}

/* For long song titles, just hide them */
div.card.song p.songName {
   font-weight: bold;
   overflow: hidden;
   font-size: 14pt;
   word-spacing: normal;
   letter-spacing: normal;
}

@media screen and (min-width: 520px) and (max-width:712px) {
   div.cell {
      max-width: 100%;
      width: 42.4%;
   }
}

@media screen and (max-width: 520px) {
   div.cell {
      max-width: 100%;
      width: 80%;
   }
}

img.imgExpand, .divExpand {
   display: none;
}

.showShort {
   font-style: italic;
   font-weight: bold;
   text-decoration: none;
   font-size: 12pt;
   line-height: 1.7; 
}

/* Styling for Encyclopedia pages */
ol.trackListing {
   margin-left: 0.5em;
   font-weight: bold;
}

ul.quiet {
   font-size: 12pt;
}


/* Forum styles */
div.card.forumMenu {
   padding: 5px 20px 5px 20px;
   text-align: center;
   background-color: rgba(40, 40, 40, 0.78);
}

div.card.forumMenu p {
   margin: 0 0 0 0;
   padding: 0 0 2px 0;
}

input#searchMenuText {
   font-size: 14pt;
   text-align: center;
   max-width: 280px;
   min-width: 140px;
}

p.forumMenuHeading {
   font-size: 14pt;
   font-weight: bold;
   text-decoration: underline;
}

p.forumMenu {
   font-size: 12pt;
   font-weight: bold;
}

div.card.forumMenu span {
   display: inline-block;
   clear: both;
   width: 100%;
   font-weight: bold;
   margin-top: 3px;
   font-size: 12pt;
}

div.card.forumMenu div.cell {
   display: inline-block;
   vertical-align: middle;
   border-right: solid 1px white;
   border-bottom: solid 1px white;
   border-radius: 0.5em;
}

div.card.forumMenu p {
   text-align: center;
}

div.card.forum {
   padding: 10px 20px 10px 20px;
}

div.card.forum h2, div.card.forum h5, div.card.settings h2, div.card.settings h5, div.card.help h2, div.card.help h3, div.card.help h5 {
   display: inline;
   overflow-x: hidden;
}

div.card.forum.odd {
   background-color: rgba(70, 70, 114, 0.78); 
}

div.card.forum.even {
   background-color: rgba(110, 110, 140, 0.78);
}

div.card.forum h2 img, div.card.settings h2 img {
   display: inline;
   float: left;
   width: 36px;
   height: 36px;
   margin-top: 2px;
   margin-right: 8px;
}

div.card.forum h5 img, div.card.settings h5 img {
   display: inline;
   float: left;
   margin-top: -2px;
   margin-right: 6px;
   width: 28px;
   height: 28px;
}

div.card.forum p.attachment img.attachmentIcon {
   display: inline;
   float: left;
   margin-top: 0.7ex;
   margin-right: 6px;
   width: 16px;
   height: 16px;
}

div.cardQuote {
   margin-top: 14px;
   border-left: 1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   background-color: rgba(255, 255, 255, 0.12);
   padding-left: 8px;
   padding-bottom: 4px;
}

div.cardQuote p {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   text-indent: 0px;
}

div.cardQuote p.quote {
   display: inline;
   font-style: italic;
}

div.cardQuote p.attribution {
   display: block;
   font-size: 10pt;
}

div.card.forum pre {
   background-color: rgba(0, 0, 0, 0.25);
   overflow-x: scroll;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 8px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

img.attachmentImage {
   width: 100%;
   border: 1px solid white;
}

img.settingsAvatar {
   display: inline;
   float: left;
   margin-top: -7px;
   margin-right: 8px;
   width: 36px;
   height: 36px;
}

img.settingsThemePreview {
   display: inline;
   width: 80px;
   height: 80px;
   border: 1px solid white;
   margin-right: 8px;
}

div.newPostCard {
   width: 96%;
   margin-left: auto;
   margin-right: auto;
   padding: 0 0 0 0;
}

textarea.newThread {
   width: 100%;
   font-size: 1em;
   font-family: monospace;
   border-radius: 0.5em 0.5em 0px 0px;
   height: 10.5em;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
}

div.card.rolldown.newThread {
   width: 94%;
   padding: 5px 20px 5px 20px;
   text-align: center;
   background-color: rgba(40, 40, 40, 0.78);
   margin-bottom: 20px;
}

div.card.rolldown input {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 2em;
   margin-top: 3px;
}

div.card.rolldown input.threadFileInput {
   float: left;
}

div.card.rolldown input.threadSubmit {
   float: right;
}

div.card.settings {
   /* background-color: rgba(120, 40, 40, 0.78); */
   padding: 10px 20px 10px 20px;
   background: linear-gradient(
     to bottom,
     rgba(170, 40, 40, 1.0) 0px, rgba(170, 40, 40, 1.0) 30px,
     rgba(163, 40, 40, 1.0) 30px, rgba(163, 40, 40, 1.0) 60px,
     rgba(156, 40, 40, 1.0) 60px, rgba(156, 40, 40, 1.0) 90px,
     rgba(149, 40, 40, 1.0) 90px, rgba(149, 40, 40, 1.0) 120px,
     rgba(142, 40, 40, 1.0) 120px, rgba(142, 40, 40, 1.0) 150px,
     rgba(135, 40, 40, 1.0) 150px, rgba(135, 40, 40, 1.0) 180px,
     rgba(128, 40, 40, 1.0) 180px, rgba(128, 40, 40, 1.0) 210px,
     rgba(121, 40, 40, 1.0) 210px, rgba(121, 40, 40, 1.0) 240px, 
     rgba(114, 40, 40, 1.0) 240px, rgba(114, 40, 40, 1.0) 270px,
     rgba(107, 40, 40, 1.0) 270px, rgba(107, 40, 40, 1.0) 300px,
     rgba(100, 40, 40, 1.0) 300px, rgba(100, 40, 40, 1.0) 330px,
     rgba(93, 40, 40, 1.0) 330px, rgba(93, 40, 40, 1.0) 360px,
     rgba(86, 40, 40, 1.0) 360px, rgba(86, 40, 40, 1.0) 390px,
     rgba(81, 40, 40, 1.0) 390px, rgba(81, 40, 40, 1.0) 420px,
     rgba(74, 40, 40, 1.0) 420px, rgba(74, 40, 40, 1.0) 450px,
     rgba(67, 40, 40, 1.0) 450px, rgba(67, 40, 40, 1.0) 480px, 
     rgba(60, 40, 40, 1.0) 480px
   );
}

div.card.help {
   padding: 10px 20px 10px 20px;
   background: rgba(60, 40, 60, 0.78);
}

div.card.help hr {
   margin: 0 0 0 0;
}

div.card.help h2 {
   display: block;
   margin: 0 0 0 0;
   padding-top: 16px;
}

div.card.help pre {
   width: 90%;
   border: 1px solid white;
   white-space: pre-wrap;
   word-wrap: break-word;
   padding: 5px 10px 5px 10px;
}


/* Portrait mode, default for iPhones and for frames that are in a 
   similar layout / resolution */
@media screen and (max-width: 630px) {
   body {
      background-image: url("tiled-wallpaper.jpg");
      background-size: 640px;
      background-attachment: none;
      background-repeat: repeat;
      background-position: top;
   }

   div.searchHalo {
      background-image: -webkit-radial-gradient(top left, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.0) 70%);
      background-image: -moz-radial-gradient(top left, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.0) 70%);
      background-image: radial-gradient(top left, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.0) 70%);
   }

   div.header, div.container, div.card.news, div.card.store, div.card.image, div.card.song, div.card.features, div.card.quotes, div.card.heading, div.card.topics, div.card.login, div.card.forumMenu, div.card.forum, div.card.rolldown, div.card.rolldown.newThread, div.card.settings, div.card.help, div.card.error {
      position: relative;
      max-width: 98%;
      width: 98%;
      padding-left: 0px;
      padding-right: 0px;
   }

   div.card p, div.card h2, div.card h3, div.card h5 {
      margin-left: 14px;
      margin-right: 8px;
      text-align: left;
      text-justify: none; 
      text-justify-last: none;
      letter-spacing: 0.8px;
      word-spacing: 2px;
   }

   div.newPostCard {
      position: relative;
      max-width: 100%;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
   }

   textarea.newThread {
      margin: 0 0 0 0;
   }

   div.cardTitle h2, div.cardTitle h5 {
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 14px;
      margin-right: 8px;
      padding: 0 0 0 0;
      float: left;
   }

   div.cardTitle p.subject {
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 14px;
      padding: 0 0 0 0;
      float: left;
   }

   div.cardQuote {
      border-left: 0px solid white;
   }

   div.cardQuote p.quote {
      display: block;
   }

   div.cardQuote p.attribution {
      font-weight: bold;
   }

   div.bottom p.cardNav, div.bottom p.postDate {
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 9pt;
   }

   div.bottom p.cardNav {
      padding-left: 14px;
   }

   div.bottom p.postDate { 
      padding-right: 8px;
      letter-spacing: normal;
   }

   div.card p { 
      font-size: 12pt;
   }

   img.InlineNewsLeft, img.InlineNewsRight, img.InlineNewsCenterFocus {
      position: relative;
      text-align: center;
      clear: both;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin-top: 1ex;
      margin-bottom: 1ex;
   }

   .showShort {
      font-size: 10pt;
      line-height: 1.9;
   }

   div.card.forum pre {
      font-size: 10pt;
      border-left: 0px solid;
      border-right: 0px solid;
   }

   img.attachmentImage {
      width: 100%;
      border-left: 0px solid;
      border-right: 0px solid;
   }
}

/* iPad background scaling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
   body {
      background-image: url("tiled-wallpaper.jpg");
      background-size: 800px 1414px;
      background-attachment: none;
      background-repeat: repeat;
      background-position: center top;
   }
}
